body{
  background: url(../images/kondo_tomoko.jpg);
  margin: 0;
  font-size: 14px;
}

header, footer {
  padding: 20px 0px 20px 15px;
  text-align: center;
  background: rgba(245, 222, 179, 0.3);
}

header {
  box-shadow:0px 8px 6px -7px #eee;
  font-size: 20px;
}

section {
  margin: 7px;
  background-color: #fff;
  border: 2px solid #ddd;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 14px;
  margin: 0;
  padding: 10px;
}
